<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Confirmation</title>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
                <p th:inline="text" style="font-size: 14px">Welcome <b>[[${userFirstName}]]</b>,</p>
                <p>Below you can find a link which confirm your registration. Please, click it or it will expire after 24h.</p>
                <p th:inline="text">[[${confirmationUrl}]]</p>
                <p>Thank you for registering to my application!</p>
            </td>
        </tr>
    </table>
</body>
</html>